PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=llajta_inteligente

JWT_SECRET=UNA_CLAVE_LARGA_Y_ALEATORIA

ADMIN_NAME=Administrador General
ADMIN_EMAIL=admin@llajta.bo
ADMIN_PASSWORD=123456